#!/usr/bin/make -f

UPSTREAMVERSION := 0.94

DEB_CMAKE_EXTRA_FLAGS += -DKDE4_ENABLE_EXPERIMENTAL_LIB_EXPORT=on

#DEB_DH_MAKESHLIBS_ARGS_kdepimlibs5 := -V'kdepimlibs5 (>= $(UPSTREAMVERSION))'

DEB_DH_STRIP_ARGS := --keep-debug

include /usr/share/pkg-kde-tools/qt-kde-team/1/debian-qt-kde.mk

