#!/usr/bin/make -f

include /usr/share/pkg-kde-tools/qt-kde-team/1/debian-qt-kde.mk

# workaround FindKDE4Internal.cmake default rpath value
# see bug http://bugs.debian.org/564146
DEB_CMAKE_CUSTOM_FLAGS += -DCMAKE_SKIP_RPATH=ON
DEB_DBG_PACKAGE_kdevplatform1-libs := kdevplatform-dbg
DEB_DH_MAKESHLIBS_ARGS_ALL := -V
